doctype 5
html
    head
        meta(charset='utf-8')
        title magic toad

         link(href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.css",rel="stylesheet")
    body
        div 这里是魔法蛤蟆
